* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: lightgray;
  user-select: none;
}
img {
  -webkit-user-drag: none;
  object-fit: cover;
}
body {
  font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4a4d52;
  border: 2px solid #282a2d;
  border-radius: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.test {
  border: 1px solid purple
}
.hover {
  cursor: pointer;
  color: #00AFF4;
}
.underlined:hover {
  text-decoration: underline;
}
.pressing:active {
  transform: translateY(1px);
}
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
} 
.threedottext {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.leftbar {
  width: 240px;
  height: 100vh;
}
.canclick {
  cursor: pointer;
}
.flex {
  display: flex
}
.fullwidth {
  width: 100%
}
.fullheight {
  height: 100%
}
.scrollbox {
  width: 10em;
  height: 10em;
  overflow: auto;
  visibility: hidden;
}

.scrollbox-content,
.scrollbox:hover,
.scrollbox:focus {
  visibility: visible;
}
.avatar-32 {
  border-radius: 100%;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
}
.avatar-48 {
  border-radius: 100%;
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-height: 48px;
}
.noti-icon {
  background-color: #ED4245;
  color: white;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}
.popper {
  background-color: #18191c;
  border-radius: 5px;
}
.canclick2 {
  cursor: pointer;
  transition: background-color 0.05s, box-shadow 0.25s;
}
.canclick2:hover {
  box-shadow: inset 0px 0px 100px 100px rgba(161, 161, 161, 0.1);
}
.activated {
  color: white;
  box-shadow: inset 0px 0px 100px 100px rgba(161, 161, 161, 0.1);
}
.d {
  box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.1);
}
.shadow-0 {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px 0px
}